@model ForexExchangeMonitoring.Application.ViewModels.LiveCurrenciesRateViewModel

<table id="currency" class="table table-bordered table-hover">
    <thead>
        <tr class="">
            <th>Currency</th>
            <th>Rate</th>
            <th>Last Modified Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ForexHistory)
        {
            <tr style="height:60px;">
                <td>@item.FromCurrency.CurrencyName/@item.ToCurrency.CurrencyName</td>
                <td>@item.ExchangeRate</td>
                <td>@item.LastRefreshedDate.ToString().Substring(0, 16)</td>
            </tr>
        }
    </tbody>
</table>
<br />@Html.ActionLink("Return All Currencies", "Index", "Home")