@model ForexExchangeMonitoring.Application.ViewModels.LiveCurrenciesRateViewModel

<table id="currency" class="table table-striped table-bordered">
    <thead>
        <tr class="">
            <th>Currency</th>
            <th>Rate</th>
            <th>Last Modified Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ForexLiveCurrencies)
        {
            <tr style="height:60px;">
                <td>
                    @Html.ActionLink(item.FromCurrency.CurrencyName + "/" + item.ToCurrency.CurrencyName,
                                        "History", "Home",
                                    new { fromCurrencyModelId = item.FromCurrency.CurrencyModelId, toCurrencyModelId = item.ToCurrency.CurrencyModelId })
                </td>
                <td>@item.ExchangeRate</td>
                <td>@item.LastRefreshedDate.ToString().Substring(0, 16)</td>
            </tr>
        }
    </tbody>
</table>


