@model ForexExchangeMonitoring.Application.ViewModels.ForexCurrencyViewModel

<table id="currency" class="table table-bordered table-hover">
    <thead>
        <tr class="">
            <th>Currency</th>
            <th>Rate</th>
            <th>Last Modified Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ForexCurrencies)
        {
            <tr style="height:60px;">
                <td>
                    @Html.ActionLink(item.FromCurrencyCode.CurrencyName + "/" + item.ToCurrencyCode.CurrencyName,
                                     "History", "Home",
                                   new { fromCurrencyModelId = item.FromCurrencyCode.CurrencyModelId, toCurrencyModelId = item.ToCurrencyCode.CurrencyModelId })
                </td>
                <td>@item.ExchangeRate</td>
                <td>@item.LastRefreshedDate.ToString().Substring(0, 15)</td>
            </tr>
        }
    </tbody>
</table>


