@model Dictionary<string,object>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    @foreach (var item in Model)
    {
        <li>
            @item.Value
        </li>
    }

</div>
